#left-nav {
  list-style-type: none;
  background: linear-gradient(115deg, #26262d 100px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 102px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 104px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 300px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 302px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 304px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 500px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 502px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 504px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 100%, rgba(0, 0, 0, 0) 0%);
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  left: 0;
  top: 60px;
  padding-top: 150px;
  font-size: 0.9em;
  z-index: 50;
  border-right: 2px solid #26262d;
}
#left-nav li {
  text-align: right;
}
#left-nav li {
  cursor: pointer;
}
#left-nav li a {
  display: inline-block;
  color: #CDD3CE;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 0.975em;
  transition: color 200ms;
  box-sizing: border-box;
}
#left-nav li a.active {
  color: #EEB902;
}
#left-nav li a:hover {
  color: #EEB902;
}
#left-nav .creator {
  position: fixed;
  bottom: 5px;
  margin: 0;
  left: 10px;
  right: 86%;
  font-size: 0.7em;
  color: #CDD3CE;
  z-index: 50;
  cursor: default;
}
@media screen and (min-width: 768px){
  #left-nav li a.active {
      border-right: 5px solid #EEB902;
  }
}
@media screen and (max-width: 767px) {
  #left-nav.responsive {
      display: block;
      position: fixed;
      width: 100%;
      margin: 0;
      right: 0;;
      z-index: 999;
      height: 100vh;
      opacity: .98;
      font-size: 1rem;
      padding-top: 3rem;
      padding-right: .6rem;
  }
  #left-nav.responsive li {
      text-align: right;
      /* margin-top: 1rem; */
  }
  #left-nav .mobile-search {
      display: block;
  }
  .main-logo.main-logo-mobile {
      display: block;
  }
}
@media screen and (max-width: 767px) {
  #left-nav .creator {
      display: none;
  }
  #left-nav {
      display: none;
      padding-top: 0;
  }
  .search-field {
      display: none;
  }
  #top-nav-avatar {
      display: none;
  }
}
@media screen and (min-width: 767px) {
  #left-nav .mobile-search {
      display: none;
  }
}
