#myProfileRoot {
  overflow: hidden;
}
/* Style the tab */
.profile-tab {
  overflow: hidden;
  background-color: #1E1E24;
  width: 85%;
  right: 0;
  position: fixed;
  font-size: 0.8em;
  font-weight: bold;
  z-index: 10;
  border-bottom: 2px solid #26262d;
}
/* Style the buttons inside the tab */
.profileTabBtn {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 50px;
  transition: 0.3s;
  color: #CDD3CE;
}
/* Change color of buttons text on hover */
.profile-tab .profileTabBtn:hover {
  color: #fff;
}
.profileTabBtn:hover i {
  color: #EEB902;
}
/* Create an active/current tablink class */
.profile-tab .profileTabBtn.active {
  border-bottom: 2px solid #EEB902;
  height: 37px;
  outline: none;
  color: #fff;
}
.profileTabBtn.active i {
  color: #EEB902;
}
/* Style the tab content */
.profileTabContent {
  font-size: 0.875em;
  display: none;
  -webkit-animation: fadeEffect .7s;
  animation: fadeEffect .7s;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  color: #CDD3CE;
}

/*UPLOADS     = = = == = = = === == = = = === = == ==== = =  = = == ====*/
.uploadPhotoForm button:hover  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 767px) {
  .photoUploadContainer {
      max-width: 100%;
  }
  .uploadPhotoForm {
      max-width: 100%;
      margin-bottom: 10px;
  }
  #myProfileRoot {
    padding-left: 0;
  }
}
.upload-photo-preview {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}
.upload-photo-preview:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photoUploadContainer label {
  width: 100%;
}
.photoUploadContainer label:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.uploadPhotoFormElement {
  resize: none;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #CDD3CE;
  color: #CDD3CE;
  background-color: #26262d;
  border-radius: 5px;
}
.uploadPhotoFormElement:focus {
  border-color: #EEB902;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.uploadPhotoFormElement:hover {
  border-color: #EEB902;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#uploadPhotoCategory {
  margin-bottom: 20px;
  background-image: none;
  -webkit-appearance: none;;
  -moz-appearance: none;
}
#uploadPhotoCategory option{
  background-color: #26262d;
}

/*FAVORITES     = = = == = = = === == = = = === = == ==== = =  = = == ====*/
#Favorites {
  position: relative;
  min-height: 100%;
  background: linear-gradient(115deg, #26262d 100px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 102px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 104px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 300px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 302px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 304px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 500px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 502px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 504px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 100%, rgba(0, 0, 0, 0) 0%);
}
.favorite-column {
  overflow: scroll;
  overflow-x: hidden;
  height: 80vh;
}
.favorite-column > p {
  position: -webkit-sticky;
  position: sticky;
  font-size: 0.85em;
  top: 0;
  color: #CDD3CE;
  padding: 5px;
  text-shadow: 0.03em 0 black,
  0 0.03em black,
  -0.03em 0 black,
  0 -0.03em black;
}
.favorite-column > p:hover  i {
  color: #EEB902;
}
.favorite-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.favorite-photos ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fit, 150px);
  grid-gap: 3px;
}
.favorite-photos ul li {
  overflow: hidden;
}
.favorite-photos ul li:hover {
  border: solid 1px #EEB902;
}
.favorite-photos > ul > li > a > img {
  width: 100%;
  height: 150px;
  cursor: zoom-in;
  transition: transform .1s;
  object-fit: cover;
}
.favorite-photos > ul > li > a > img:hover {
  transform: scale(1.05);
}
.favorite-users {
  border: none;
}
.favorite-users a {
  text-decoration: none;
  color: #CDD3CE;
  font-size: 0.9em;
}
.favorite-users a:hover {
  color: #fff;
}
.favorite-users img {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.favorite-users > ul > li {
  height: 30px;
  border-radius: 2px;
  margin: 5px 0;
  color: #CDD3CE;
}
.favorite-users > ul > li:hover {
  background-color: #26262d;
}
@media screen and (min-width: 767px) {
  .favorite-photos ul {
      grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 960px) {
  .favorite-photos ul {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .favorite-users img {
      display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .favorite-column > p {
      font-size: 0.75em;
  }
  .favorites-photos-col {
      padding: 0;
  }
  .favorite-users > ul > li {
      height: 25px;
      padding-left: 5px;
      font-size: 0.9em;
  }
  .favorite-users::-webkit-scrollbar {
      display: none;
  }
  .favorite-users::-webkit-scrollbar-thumb {
      display: none;
  }
  .favorite-photos::-webkit-scrollbar {
      display: none;
  }
  .favorite-photos::-webkit-scrollbar-thumb {
      display: none;
  }
}
/*SETTINGS ======= ====== == == = = = = = = == = = = = = */
#Settings {
  position: relative;
  min-height: 90vh;
  color: #CDD3CE;
  background: linear-gradient(115deg, #26262d 100px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 102px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 104px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 300px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 302px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 304px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 500px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 502px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #26262d 504px, rgba(0, 0, 0, 0) 0%),
  linear-gradient(115deg, #1E1E24 68%, rgba(0, 0, 0, 0) 0%),
  url("/img/night-city.jpg") center center;
}
#Settings p {
  font-size: 0.85em;
}
#Settings li {
  font-size: 0.85em;
}
#Settings h5 {
  font-size: 1.2em;
}
#Settings h5 a {
  margin-top: 10px;
  padding: 10px;
}
.profile-settings-form {
  padding: 10px;
}
.profile-settings-form input {
  resize: none;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  border: 1px solid #CDD3CE;
  color: #CDD3CE;
  background-color: #26262d;
  border-radius: 5px;
  margin-bottom: 10px;
}
.profile-settings-form input:focus {
  border-color: #EEB902;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-settings-form input:hover {
  border-color: #EEB902;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatarContainer {
  position: relative;
  max-width: 250px;
  margin-bottom: 20px;
}
.profile-tab-avatar {
  width: 30vw;
  height: 30vw;
  max-width: 250px;
  max-height: 250px;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.avatar-middle-overlay {
  transition: .5s ease;
  opacity: 0.25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.avatarContainer:hover .profile-tab-avatar {
  opacity: 0.3;
}
.avatarContainer:hover .avatar-middle-overlay {
  opacity: 1;
}
.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@media screen and (max-width: 767px) {
  .profile-tab {
      width: 100%;
  }
  .btn-success {
      width: 100%;
  }
  .btn-danger {
      margin-top: 5px;
      width: 100%;
  }
  .profileTabBtn {
      padding: 8px 5px;
      font-size: 0.9em;
  }

}
/* COMMON STYLES */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.uploadPhotoFormElement::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1E1E24;
}