#photosRoot {
  padding: 90px 0 30px 0;
  /* overflow: hidden; */
}

.categories {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 95px;
  left: 15%;
  background-color: #1E1E24;
  overflow-x: scroll;
  transition: 0.3s;
  border-top: 1px solid #EEB902;
  /* border-right: 1px solid #EEB902; */
  box-sizing: border-box;

}

.categories p {
  padding: 7px 20px 7px 8px;
  text-decoration: none;
  font-size: 0.85em;
  color: #CDD3CE;
  margin: 0;
  cursor: pointer;
  display: block;
  text-align: right;
  transition: color 200ms;
  background-color: #1E1E24;
}

.categories p:hover {
  color: #EEB902;
  text-decoration: underline;
}

.categories>p.active {
  border-right: 5px solid #EEB902;
  color: #EEB902;
}

.categories .close-categories-btn {
  font-size: 1.6em;
  top: 0;
  right: 0;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
}

#select-category-btn {
  font-size: 0.9em;
  cursor: pointer;
  width: 100%;
  padding: 7px;
  background-color: #1E1E24;
  color: #CDD3CE;
  z-index: 5;
  position: fixed;
  top: 60px;
  left: 15%;
  transition: top 0.3s;
}

#select-category-btn:hover {
  text-decoration: underline;
  color: #EEB902;
  /*background-color: #26262d;*/
}

@media screen and (max-width: 767px) {

  .categories {
    left: 0;
  }

  #select-category-btn {
    padding-left: 15px;
    left: 0;
  }
}
