
.author-header {
  background-color: #26262d;
  padding: 10px 0;
  color: #CDD3CE;
  border-top: solid 2px #1E1E24;
}
.author-profile-avatar {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
  margin-bottom: 15px;
  background-color: #26262d;
  border-radius: 50%;
  border: 1px solid #EEB902;
  overflow: hidden;
}
.author-profile-avatar:hover {
  background-color: #1E1E24;
}
.author-profile-avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.author-profile-description {
  display: inline-block;
}
.author-profile-description h1 {
  font-size: 1em;
}
@media screen and (min-width: 767px) {
  .author-header {
      padding: 20px 0;
  }
  .author-profile-description h1 {
      font-size: 1.15em;
  }
  .author-profile-avatar img {
      width: 150px;
      height: 150px;
  }
  .author-profile-avatar {
      margin-bottom: 0;
  }
}
